/* white, red, orange, yellow, green, mint, cyan, blue, purple, pink, fuchsia */

var-route00 = white
var-route01 = hsl(  0,  98%, 46%)
var-route02 = hsl( 35,  98%, 46%)
var-route03 = hsl( 60,  98%, 46%)
var-route04 = hsl(135,  98%, 46%)
var-route05 = hsl(160,  98%, 46%)
var-route06 = hsl(185,  98%, 46%)
var-route07 = hsl(210,  98%, 46%)
var-route08 = hsl(285,  98%, 46%)
var-route09 = hsl(310,  98%, 46%)
var-route10 = hsl(335,  98%, 46%)

var-route00-fade = hsl(  0,   0%, 46%)
var-route01-fade = hsl(  0,  98%, 16%)
var-route02-fade = hsl( 35,  98%, 16%)
var-route03-fade = hsl( 60,  98%, 16%)
var-route04-fade = hsl(135,  98%, 16%)
var-route05-fade = hsl(160,  98%, 16%)
var-route06-fade = hsl(185,  98%, 16%)
var-route07-fade = hsl(210,  98%, 16%)
var-route08-fade = hsl(285,  98%, 16%)
var-route09-fade = hsl(310,  98%, 16%)
var-route10-fade = hsl(335,  98%, 16%)

var-group00 = hsla(  0,   0%, 75%, 0.15)
var-group01 = hsla(  0, 100%, 75%, 0.15)
var-group02 = hsla( 35, 100%, 75%, 0.15)
var-group03 = hsla( 60, 100%, 75%, 0.15)
var-group04 = hsla(135, 100%, 75%, 0.15)
var-group05 = hsla(160, 100%, 75%, 0.15)
var-group06 = hsla(185, 100%, 75%, 0.15)
var-group07 = hsla(210, 100%, 75%, 0.15)
var-group08 = hsla(285, 100%, 75%, 0.15)
var-group09 = hsla(310, 100%, 75%, 0.15)
var-group10 = hsla(335, 100%, 75%, 0.15)

var-group00-stroke = none
var-group01-stroke = none
var-group02-stroke = none
var-group03-stroke = none
var-group04-stroke = none
var-group05-stroke = none
var-group06-stroke = none
var-group07-stroke = none
var-group08-stroke = none
var-group09-stroke = none
var-group10-stroke = none

var-group00-hover = hsla(  0,   0%, 75%, 0.25)
var-group01-hover = hsla(  0, 100%, 75%, 0.25)
var-group02-hover = hsla( 35, 100%, 75%, 0.25)
var-group03-hover = hsla( 60, 100%, 75%, 0.25)
var-group04-hover = hsla(135, 100%, 75%, 0.25)
var-group05-hover = hsla(160, 100%, 75%, 0.25)
var-group06-hover = hsla(185, 100%, 75%, 0.25)
var-group07-hover = hsla(210, 100%, 75%, 0.25)
var-group08-hover = hsla(285, 100%, 75%, 0.25)
var-group09-hover = hsla(310, 100%, 75%, 0.25)
var-group10-hover = hsla(335, 100%, 75%, 0.25)

var-group00-fade = hsla(  0,   0%, 75%, 0.1)
var-group01-fade = hsla(  0, 100%, 75%, 0.1)
var-group02-fade = hsla( 35, 100%, 75%, 0.1)
var-group03-fade = hsla( 60, 100%, 75%, 0.1)
var-group04-fade = hsla(135, 100%, 75%, 0.1)
var-group05-fade = hsla(160, 100%, 75%, 0.1)
var-group06-fade = hsla(185, 100%, 75%, 0.1)
var-group07-fade = hsla(210, 100%, 75%, 0.1)
var-group08-fade = hsla(285, 100%, 75%, 0.1)
var-group09-fade = hsla(310, 100%, 75%, 0.1)
var-group10-fade = hsla(335, 100%, 75%, 0.1)
