var-bg = black

var-node            = hsla(192, 25%, 92%, 0.94)
var-node-error      = hsla(0, 100%, 50%, 0.94)
var-node-hover      = hsla(192, 25%, 92%, 0.97)
var-node-border     = hsl(0, 0%, 40%)
var-node-border-bg  = hsla(0, 0%, 0%, 0.5)
var-node-hover-border = hsl(0, 0%, 50%)
var-node-icon       = hsl(194, 8%, 40%)
var-node-icon-big   = hsl(194, 8%, 80%)
var-node-icon-small = hsl(194, 8%, 20%)

var-node-selected        = hsla(192, 25%, 92%, 0.94)
var-node-selected-border = hsl(0, 0%, 50%)
var-node-selected-icon   = hsl(194, 8%, 40%)
var-node-deselected      = hsla(192, 5%, 25%, 0.94)
var-node-deselected-border = hsl(194, 8%, 15%)
var-node-deselected-icon = hsl(194, 8%, 15%)

var-export-bg = hsl(0, 0%, 10%)

var-type-a = white
var-type-b = hsl(188, 6%, 5%)
var-text-bg = hsla(0, 0%, 0%, 0.5)
var-tooltip-bg = hsla(0, 0%, 0%, 0.9)

var-selection-box        = hsla(0, 0%, 100%, 0.15)
var-selection-box-hover  = hsla(0, 0%, 100%, 0.25)
var-selection-box-border = hsl(0, 0%, 90%)

var-menu-modal-bg = rgba(0, 0, 0, 0.5)
var-menu-bg       = hsla(211, 12%, 19%, 0.95)
var-menu-bg-hover = hsla(211, 12%, 40%, 0.95)
var-menu-border   = hsl(0, 0%, 75%)
var-menu-icon-bg  = hsl(211, 12%, 8%)

var-edge-bg = black
var-edge-hover-bg = hsl(0, 0%, 50%)
var-edge-width = 3px

@require "./the-graph-spectrum"
