/* thanks http://oobrien.com/2012/01/tube-colours/ */

var-route00 = #A0A5A9 /* Jubilee */
var-route01 = #E32017 /* Central */
var-route02 = #EE7C0E /* Overground */
var-route03 = #FFD300 /* Circle */
var-route04 = #00782A /* District */
var-route05 = #95CDBA /* Waterloo and City */
var-route06 = #0098D4 /* Victoria */
var-route07 = #003688 /* Piccadilly */
var-route08 = #9B0056 /* Metropolitan */
var-route09 = #F3A9BB /* Hammersmith and City */
var-route10 = #B36305 /* Bakerloo */

var-group00 = hsla(  0,  0%, 75%, 0.25)
var-group01 = hsla(  0, 50%, 75%, 0.25)
var-group02 = hsla( 35, 50%, 75%, 0.25)
var-group03 = hsla( 60, 50%, 75%, 0.25)
var-group04 = hsla(135, 50%, 75%, 0.25)
var-group05 = hsla(160, 50%, 75%, 0.25)
var-group06 = hsla(185, 50%, 75%, 0.25)
var-group07 = hsla(210, 50%, 75%, 0.25)
var-group08 = hsla(285, 50%, 75%, 0.25)
var-group09 = hsla(310, 50%, 75%, 0.25)
var-group10 = hsla(335, 50%, 75%, 0.25)

var-group00-hover = hsla(  0,  0%, 75%, 0.35)
var-group01-hover = hsla(  0, 50%, 75%, 0.35)
var-group02-hover = hsla( 35, 50%, 75%, 0.35)
var-group03-hover = hsla( 60, 50%, 75%, 0.35)
var-group04-hover = hsla(135, 50%, 75%, 0.35)
var-group05-hover = hsla(160, 50%, 75%, 0.35)
var-group06-hover = hsla(185, 50%, 75%, 0.35)
var-group07-hover = hsla(210, 50%, 75%, 0.35)
var-group08-hover = hsla(285, 50%, 75%, 0.35)
var-group09-hover = hsla(310, 50%, 75%, 0.35)
var-group10-hover = hsla(335, 50%, 75%, 0.35)

