var-bg = black

var-node            = hsla(192, 25%, 92%, 0.9)
var-node-hover      = hsla(192, 25%, 92%, 0.95)
var-node-border     = white
var-node-icon       = hsl(194, 8%, 20%)
var-node-icon-big   = hsl(194, 8%, 80%)
var-node-icon-small = hsl(194, 8%,  5%)

var-type-a = white
var-type-b = hsl(188, 6%, 5%)

var-selection-box        = hsla(0, 100%, 70%, 0.15)
var-selection-box-hover  = hsla(0, 100%, 70%, 0.25)
var-selection-box-border = hsl(0, 100%, 50%)

var-menu-bg       = hsla(211, 12%, 19%, 0.95)
var-menu-bg-hover = hsla(211, 12%, 40%, 0.95)
var-menu-border   = hsl(0, 0%, 75%)
var-menu-modal-bg = rgba(0, 0, 0, 0.5)

@require "the-graph-spectrum"
@require "the-graph-base"