var-background = hsl(186, 31%, 6%)

var-node        = hsla(192, 25%, 92%, 0.9)
var-node-hover  = hsl(192, 25%, 92%)
var-node-border = white
var-node-icon   = hsl(194, 8%, 69%)

var-type-a = white
var-type-b = hsl(188,   6%, 25%)



@require "the-graph-spectrum"
@require "the-graph-base"