/* Need to add this to the .html with correct paths to get the svg version
@font-face {
  font-family: 'FontAwesomeSVG';
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), 
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), 
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

.the-graph-app {
  background-color: hsl(0, 0%, 0%);
  position: relative;
}

.app-canvas,
.app-svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.view {
}
.arrow {
  cursor: default;
}
.click {
  cursor: pointer;
}
.drag {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.node-rect {
  fill: hsla(192, 25%, 92%, 0.8);
  /*fill: hsla(0, 0%, 0%, 0.75);*/
  stroke: hsla(0, 0%, 100%, 1.0);
  stroke-width: 2px;
}
.ex-inports .node-rect {
  stroke: hsl(30, 60%, 60%);
}
.ex-outports .node-rect {
  stroke: hsl(120, 60%, 60%);
}
.node:hover .node-rect {
  fill: hsla(192, 25%, 92%, 0.9);
}
.small .node-rect {
  fill: hsla(0, 0%, 10%, 0.9);
  stroke: none;
}
.node-bg {
  opacity: 0;
}
.node.selected .node-rect {
  stroke: hsl(0, 100%, 50%);
  stroke-width: 4px;
}

path {
  fill: none;
}
.edge-bg {
  stroke: black;
  stroke-width: 4px;
}
.edge:hover .edge-bg {
  stroke: gray;  
}
.edge.selected .edge-bg {
  stroke-width: 8px;
  stroke: red;
}
.edge-fg {
  stroke: white;
  stroke-width: 2px;

  transition-property: stroke-width;
  transition-duration: 0.5s;
}
.edge-touch {
  stroke: white;
  stroke-width: 10px;
  opacity: 0;
}
.small .edge-bg {
  stroke-width: 8px;
}
.small .edge-fg {
  stroke-width: 4px;
}

text {
  font-family: "SourceCodePro", "Source Code Pro", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision; /* makes text scale smoothly */
  font-size: 14px;
  fill: white;
  text-anchor: middle;
  dominant-baseline: central;
}

.text-bg-rect {
  fill: hsla(0, 0%, 0%, 0.5);
}

.node-label,
.node-sublabel {
  text-anchor: middle;
}
.small .node-label-bg {
  visibility: hidden;
}

.node-sublabel {
  font-size: 9px;
}
.node-sublabel-bg {
  visibility: hidden;
}
.big .node-sublabel-bg {
  visibility: visible;
}


/* IIPs */
.iip-path {
  stroke-width: 1px;
  stroke: white;
}
.iip-info {
  visibility: hidden;
}
.iip-info .text-bg-text {
  font-size: 5px;
  text-anchor: end;
}
.big .iip-info {
  visibility: visible;
}


/* Context menu - node */
.context-modal-bg {
  fill: rgba(0,0,0,0.5);
}
.context-node-rect {
  fill: hsl(0, 0%, 10%);
  stroke: hsl(0, 0%, 50%);
  stroke-width: 0.5px;
}
.context-node-icon {
  font-size: 30px;
  fill: hsl(0, 0%, 100%);
}
.context-icon {
  font-size: 20px;
  fill: hsl(0, 0%, 100%);
}
.context-node-label {
  text-anchor: middle;
}
.context-arc {
  stroke-width: 72px;
  stroke: hsla(211, 12%, 19%, 0.95);
}
.context-slice.click:hover .context-arc {
  stroke: hsla(211, 12%, 40%, 0.95);
}
.context-circle {
  stroke: hsl(0, 0%, 75%);
  fill: none;
  stroke-width: 1.5px;
}
.context-circle-x {
  stroke: hsl(0, 0%, 50%);
  fill: none;
  stroke-width: 1px;
}

.context-arc-icon-label {
  font-size: 12px;
}


/* Context menu - port */
.context-port-bg {
  fill: hsla(211, 12%, 19%, 0.95);
}
.context-port-hole {
  stroke-width: 2px;
  fill: hsla(211, 12%, 19%, 0.95);
  stroke: hsl(0, 0%, 75%);
}
.context-port-path {
  stroke: hsl(0, 0%, 75%);
}
.context-port-label {
  fill: white;
  dominant-baseline: central;
}
.context-port-in .context-port-label {
  text-anchor: end;
}
.context-port-out .context-port-label {
  text-anchor: start;
}



/* Context menu - edge */
.context-edge-label-out {
  text-anchor: end;
  dominant-baseline: central;
}
.context-edge-label-in {
  text-anchor: start;
  dominant-baseline: central;
}


.tooltip {
  opacity: 1.0;

  transition-property: opacity;
  transition-duration: 0.3s;
}
.tooltip.hidden {
  opacity: 0;
}
.tooltip-bg {
  fill: black;
  opacity: 0.75;
}
.tooltip-label {
  text-anchor: start;
  font-size: 10px;
}

.icon {
  font-family: 'FontAwesomeSVG';
  text-anchor: middle;
  dominant-baseline: central;
}
.node-icon {
  font-size: 40px;
  fill: hsl(194, 8%, 15%);

  transition-property: font-size, fill;
  transition-duration: 0.5s,      0.3s;
}
.small .node-icon {
  fill: hsl(0, 0%, 100%);
  font-size: 68px;
}
.big .node-icon {
  fill: hsl(194, 8%, 85%);
}
.ex-inports .node-icon {
  stroke: hsl(30, 60%, 60%);
  fill: hsl(30, 60%, 60%);
}
.small .ex-inports .node-icon {
  fill: hsl(30, 60%, 60%);
}
.ex-outports .node-icon {
  stroke: hsl(120, 60%, 60%);
  fill: hsl(120, 60%, 60%);
}
.small .ex-outports .node-icon {
  fill: hsl(120, 60%, 60%);
}

.port-circle {
  fill: black;
  stroke: hsl(0, 0%, 50%);
  stroke-width: 1px;
}
.small .port-circle {
  visibility: hidden;
}
.port-label {
  fill: hsl(188, 6%, 25%); /* type-grey */
  visibility: hidden;
  font-size: 6px;
  dominant-baseline: central;
}

.inports .port-label {
  text-anchor: start;  
}
.outports .port-label {
  text-anchor: end;  
}
.big .port-label {
  visibility: visible;
}
.big .ex-inports .port-label,
.big .ex-outports .port-label {
  visibility: hidden;
}


/* Groups */
.group-box {
  transition-property: fill;
  transition-duration: 0.3s;
}

.group-box.color0  { 
  fill:   hsla(  0, 0%, 90%, 0.1);
  stroke: hsla(  0, 0%, 90%, 0.15);
}
.group-box.color1  { 
  fill:   hsla(  0, 100%, 70%, 0.1); 
  stroke: hsla(  0, 100%, 70%, 0.15);
}
.group-box.color2  { 
  fill:   hsla( 30, 100%, 70%, 0.1);
  stroke: hsla( 30, 100%, 70%, 0.15);
}
.group-box.color3  { 
  fill:   hsla( 60, 100%, 70%, 0.1);
  stroke: hsla( 60, 100%, 70%, 0.15);
}
.group-box.color4  { 
  fill:   hsla( 90, 100%, 70%, 0.1);
  stroke: hsla( 90, 100%, 70%, 0.15);
}
.group-box.color5  { 
  fill:   hsla(120, 100%, 70%, 0.1);
  stroke: hsla(120, 100%, 70%, 0.15);
}
.group-box.color6  { 
  fill:   hsla(150, 100%, 70%, 0.1);
  stroke: hsla(150, 100%, 70%, 0.15);
}
.group-box.color7  { 
  fill:   hsla(180, 100%, 70%, 0.1); 
  stroke: hsla(180, 100%, 70%, 0.15);
}
.group-box.color8  { 
  fill:   hsla(210, 100%, 70%, 0.1); 
  stroke: hsla(210, 100%, 70%, 0.15);
}
.group-box.color9  { 
  fill:   hsla(240, 100%, 70%, 0.1); 
  stroke: hsla(240, 100%, 70%, 0.15);
}
.group-box.color10 { 
  fill:   hsla(270, 100%, 70%, 0.1); 
  stroke: hsla(270, 100%, 70%, 0.15);
}
.group-box.color11 { 
  fill:   hsla(300, 100%, 70%, 0.1); 
  stroke: hsla(300, 100%, 70%, 0.15);
}
.group-box.color12 { 
  fill:   hsla(330, 100%, 70%, 0.1); 
  stroke: hsla(330, 100%, 70%, 0.15);
}

.group-box.color0:hover  { fill: hsla(  0,   0%, 90%, 0.15); }
.group-box.color1:hover  { fill: hsla(  0, 100%, 70%, 0.15); }
.group-box.color2:hover  { fill: hsla( 30, 100%, 70%, 0.15); }
.group-box.color3:hover  { fill: hsla( 60, 100%, 70%, 0.15); }
.group-box.color4:hover  { fill: hsla( 90, 100%, 70%, 0.15); }
.group-box.color5:hover  { fill: hsla(120, 100%, 70%, 0.15); }
.group-box.color6:hover  { fill: hsla(150, 100%, 70%, 0.15); }
.group-box.color7:hover  { fill: hsla(180, 100%, 70%, 0.15); }
.group-box.color8:hover  { fill: hsla(210, 100%, 70%, 0.15); }
.group-box.color9:hover  { fill: hsla(240, 100%, 70%, 0.15); }
.group-box.color10:hover { fill: hsla(270, 100%, 70%, 0.15); }
.group-box.color11:hover { fill: hsla(300, 100%, 70%, 0.15); }
.group-box.color12:hover { fill: hsla(330, 100%, 70%, 0.15); }

.group-box.selection { 
  fill: hsla(0, 100%, 70%, 0.15); 
  stroke: hsl(0, 100%, 50%);
  stroke-width: 1px;
}
.group-box.selection:hover { 
  fill: hsla(0, 100%, 70%, 0.25); 
}

.group-label {
  text-anchor: start;  
  fill: white;
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.small .group-label {
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.group-description {
  fill: hsl(0, 0%, 75%);
  font-size: 12px;
  text-anchor: start;  
}
.small .group-description {
  visibility: hidden;
}

.stroke.route0
  stroke: var-spectrum-a0
.stroke.route1
  stroke: var-spectrum-a1
.stroke.route2
  stroke: var-spectrum-a2
.stroke.route3
  stroke: var-spectrum-a3
.stroke.route4
  stroke: var-spectrum-a4
.stroke.route5
  stroke: var-spectrum-a5
.stroke.route6
  stroke: var-spectrum-a6
.stroke.route7
  stroke: var-spectrum-a7
.stroke.route8
  stroke: var-spectrum-a8
.stroke.route9
  stroke: var-spectrum-a9
.stroke.route10
  stroke: var-spectrum-a10

.fill.route0 
  fill: var-spectrum-a0
.fill.route1 
  fill: var-spectrum-a1
.fill.route2 
  fill: var-spectrum-a2
.fill.route3 
  fill: var-spectrum-a3
.fill.route4 
  fill: var-spectrum-a4
.fill.route5 
  fill: var-spectrum-a5
.fill.route6 
  fill: var-spectrum-a6
.fill.route7 
  fill: var-spectrum-a7
.fill.route8 
  fill: var-spectrum-a8
.fill.route9 
  fill: var-spectrum-a9
.fill.route10
  fill: var-spectrum-a10
