/* Need to add this to the .html with correct paths to get the svg version
@font-face {
  font-family: 'FontAwesomeSVG';
  src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg'),
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), 
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), 
    url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype');
  font-weight: normal;
  font-style: normal;
}
*/

.the-graph-app {
  background-color: var-bg;
  position: relative;
}

.app-canvas,
.app-svg {
  position: absolute;
  top: 0;
  left: 0;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.view {
}
.arrow {
  cursor: default;
}
.click {
  cursor: pointer;
}
.drag {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.node-rect {
  fill: var-node;
  stroke: var-node-border;
  stroke-width: 2px;
}
.ex-inports .node-rect {
  fill: var-export-bg;
  stroke: var-spectrum-a02;
}
.ex-outports .node-rect {
  fill: var-export-bg;
  stroke: var-spectrum-a04;
}
.node:hover .node-rect {
  fill: var-node-hover;
  stroke: var-node-hover-border;
}
.ex-inports:hover .node-rect,
.ex-outports:hover .node-rect {
  fill: var-export-bg;
}
.small .node-rect {
  stroke: none;
}
.node-bg {
  opacity: 0;
}
.node.selected .node-rect {
  stroke: var-selection-box-border;
  stroke-width: 4px;
}


path {
  fill: none;
}
.edge-bg {
  stroke: var-edge-bg;
  stroke-width: 4px;
}
.edge:hover .edge-bg {
  stroke: gray;  
}
.edge.selected .edge-bg {
  stroke-width: 8px;
  stroke: red;
}
.edge-fg {
  stroke: var-spectrum-a00;
  stroke-width: 2px;

  transition-property: stroke-width;
  transition-duration: 0.5s;
}
.edge-touch {
  stroke-width: 10px;
  opacity: 0;
}
.small .edge-bg {
  stroke-width: 8px;
}
.small .edge-fg {
  stroke-width: 4px;
}

text {
  font-family: "SourceCodePro", "Source Code Pro", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision; /* makes text scale smoothly */
  font-size: 14px;
  fill: var-type-a;
  text-anchor: middle;
  dominant-baseline: central;
}

.text-bg-rect {
  fill: var-text-bg;
}

.node-label,
.node-sublabel {
  text-anchor: middle;
}
.small .node-label-bg {
  visibility: hidden;
}

.node-sublabel {
  font-size: 9px;
}
.node-sublabel-bg {
  visibility: hidden;
}
.big .node-sublabel-bg {
  visibility: visible;
}


/* IIPs */
.iip-path {
  stroke-width: 1px;
  stroke: var-spectrum-a00;
}
.iip-info {
  visibility: hidden;
}
.iip-info .text-bg-text {
  font-size: 5px;
  text-anchor: end;
}
.big .iip-info {
  visibility: visible;
}


/* Context menu - node */
.context-modal-bg {
  fill: var-menu-modal-bg;
}
.context-node-rect {
  fill: var-menu-icon-bg;
  stroke: var-menu-border;
  stroke-width: 0.5px;
}
.context-node-icon {
  font-size: 30px;
  fill: var-type-a;
}
.context-icon {
  font-size: 20px;
  fill: var-type-a;
}
.context-node-label {
  text-anchor: middle;
}
.context-arc {
  stroke-width: 72px;
  stroke: var-menu-bg;
}
.context-slice.click:hover .context-arc {
  stroke: var-menu-bg-hover;
}
.context-circle {
  stroke: var-menu-border;
  fill: none;
  stroke-width: 1.5px;
}
.context-circle-x {
  stroke: var-menu-border;
  fill: none;
  stroke-width: 1px;
}

.context-arc-icon-label {
  font-size: 12px;
}


/* Context menu - port */
.context-port-bg {
  fill: var-menu-bg;
}
.context-port-hole {
  stroke-width: 2px;
  fill: var-menu-bg;
  stroke: var-menu-border;
}
.context-port-path {
  stroke: var-menu-border;
}
.context-port-label {
  fill: var-type-a;
  dominant-baseline: central;
}
.context-port-in .context-port-label {
  text-anchor: end;
}
.context-port-out .context-port-label {
  text-anchor: start;
}



/* Context menu - edge */
.context-edge-label-out {
  text-anchor: end;
  dominant-baseline: central;
}
.context-edge-label-in {
  text-anchor: start;
  dominant-baseline: central;
}


.tooltip {
  opacity: 1.0;

  transition-property: opacity;
  transition-duration: 0.3s;
}
.tooltip.hidden {
  opacity: 0;
}
.tooltip-bg {
  fill: var-tooltip-bg;
  opacity: 0.75;
}
.tooltip-label {
  text-anchor: start;
  font-size: 10px;
}

.icon {
  font-family: 'FontAwesomeSVG';
  text-anchor: middle;
  dominant-baseline: central;
}
.node-icon {
  font-size: 60px;
  fill: var-node-icon;

  transition-property: font-size, fill;
  transition-duration: 0.5s,      0.3s;
}
.small .node-icon {
  fill: var-node-icon-small;
  font-size: 70px;
}
.big .node-icon {
  fill: var-node-icon-big;
}
.ex-inports .node-icon,
.small .ex-inports .node-icon {
  fill: var-spectrum-a02;
}
.ex-outports .node-icon,
.small .ex-outports .node-icon {
  fill: var-spectrum-a04;
}

.port-circle {
  fill: var-node;
  stroke: var-node-border;
  stroke-width: 1px;
}
.port-circle-small {
  fill: none;
}
.small .port-circle {
  visibility: hidden;
}
.port-label {
  fill: var-type-b; 
  visibility: hidden;
  font-size: 6px;
  dominant-baseline: central;
}

.inports .port-label {
  text-anchor: start;  
}
.outports .port-label {
  text-anchor: end;  
}
.big .port-label {
  visibility: visible;
}
.big .ex-inports .port-label,
.big .ex-outports .port-label {
  visibility: hidden;
}


/* Groups */
.group-box {
  fill: var-spectrum-a00a1;
  stroke: var-spectrum-a00a2;

  transition-property: fill;
  transition-duration: 0.3s;
}

.group-box.color0 
  fill: var-spectrum-a00a1
  stroke: var-spectrum-a00a2
.group-box.color1 
  fill: var-spectrum-a01a1
  stroke: var-spectrum-a01a2
.group-box.color2 
  fill: var-spectrum-a02a1
  stroke: var-spectrum-a02a2
.group-box.color3 
  fill: var-spectrum-a03a1
  stroke: var-spectrum-a03a2
.group-box.color4 
  fill: var-spectrum-a04a1
  stroke: var-spectrum-a04a2
.group-box.color5 
  fill: var-spectrum-a05a1
  stroke: var-spectrum-a05a2
.group-box.color6 
  fill: var-spectrum-a06a1
  stroke: var-spectrum-a06a2
.group-box.color7 
  fill: var-spectrum-a07a1
  stroke: var-spectrum-a07a2
.group-box.color8 
  fill: var-spectrum-a08a1
  stroke: var-spectrum-a08a2
.group-box.color9 
  fill: var-spectrum-a09a1
  stroke: var-spectrum-a09a2
.group-box.color10
  fill: var-spectrum-a10a1
  stroke: var-spectrum-a10a2

.group-box.color0:hover 
  fill: var-spectrum-a00a2
.group-box.color1:hover 
  fill: var-spectrum-a01a2
.group-box.color2:hover 
  fill: var-spectrum-a02a2
.group-box.color3:hover 
  fill: var-spectrum-a03a2
.group-box.color4:hover 
  fill: var-spectrum-a04a2
.group-box.color5:hover 
  fill: var-spectrum-a05a2
.group-box.color6:hover 
  fill: var-spectrum-a06a2
.group-box.color7:hover 
  fill: var-spectrum-a07a2
.group-box.color8:hover 
  fill: var-spectrum-a08a2
.group-box.color9:hover 
  fill: var-spectrum-a09a2
.group-box.color10:hover
  fill: var-spectrum-a10a2


.group-box.selection { 
  fill: var-selection-box; 
  stroke: var-selection-box-border;
  stroke-width: 1px;
}
.group-box.selection:hover { 
  fill: var-selection-box-hover;
}

.group-label {
  text-anchor: start;  
  fill: var-type-a;
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.small .group-label {
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 0.5s;
}

.group-description {
  fill: var-type-a;
  font-size: 12px;
  text-anchor: start;  
}
.small .group-description {
  visibility: hidden;
}

.stroke.route0
  stroke: var-spectrum-a00
.stroke.route1
  stroke: var-spectrum-a01
.stroke.route2
  stroke: var-spectrum-a02
.stroke.route3
  stroke: var-spectrum-a03
.stroke.route4
  stroke: var-spectrum-a04
.stroke.route5
  stroke: var-spectrum-a05
.stroke.route6
  stroke: var-spectrum-a06
.stroke.route7
  stroke: var-spectrum-a07
.stroke.route8
  stroke: var-spectrum-a08
.stroke.route9
  stroke: var-spectrum-a09
.stroke.route10
  stroke: var-spectrum-a10

.fill.route0 
  fill: var-spectrum-a00
.fill.route1 
  fill: var-spectrum-a01
.fill.route2 
  fill: var-spectrum-a02
.fill.route3 
  fill: var-spectrum-a03
.fill.route4 
  fill: var-spectrum-a04
.fill.route5 
  fill: var-spectrum-a05
.fill.route6 
  fill: var-spectrum-a06
.fill.route7 
  fill: var-spectrum-a07
.fill.route8 
  fill: var-spectrum-a08
.fill.route9 
  fill: var-spectrum-a09
.fill.route10
  fill: var-spectrum-a10
