.the-graph-app {
  background-color: #fff;
  position: relative;
}
.app-canvas,
.app-svg {
  position: absolute;
  top: 0;
  left: 0;
}
svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.arrow {
  cursor: default;
}
.click {
  cursor: pointer;
}
.drag {
  cursor: pointer;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  cursor: grab;
}
.node-border {
  fill: rgba(255,255,255,0.5);
  stroke: #3b4245;
  stroke-width: 2px;
}
.small .node-border {
  fill: rgba(230,238,240,0.94);
  stroke: none;
}
.node-rect {
  fill: rgba(230,238,240,0.94);
  stroke: none;
}
.node:hover .node-rect {
  fill: rgba(230,238,240,0.97);
}
.node:hover .node-border {
  stroke: #808080;
}
.node:hover .port-arc {
  fill: #808080;
}
.ex-inports .node-border {
  fill: #e6e6e6;
  stroke: none;
}
.ex-outports .node-border {
  fill: #e6e6e6;
  stroke: none;
}
.ex-inports .node .node-rect,
.ex-outports .node .node-rect,
.ex-inports .node:hover .node-rect,
.ex-outports .node:hover .node-rect {
  fill: none;
}
.small .ex-inports .node .node-border,
.small .ex-outports .node .node-border {
  fill: #e6e6e6;
}
.node-bg {
  opacity: 0;
}
.node.selected .node-border {
  stroke: #f00;
  stroke-width: 4px;
}
.node.selected .port-arc {
  stroke: #f00;
  fill: #f00;
}
path {
  fill: none;
}
.edge-bg {
  stroke: #e6e6e6;
  stroke-width: 6px;
}
.edge-fg {
  stroke: #a0a5a9;
  stroke-width: 4px;
  transition-property: stroke-width;
  transition-duration: 0.5s;
}
.edge-touch {
  stroke-width: 8px;
  opacity: 0;
}
.edge:hover .edge-bg {
  stroke: #808080;
}
.edge.selected .edge-bg {
  stroke-width: 10px;
  stroke: #f00;
}
.small .edge-bg {
  stroke-width: 10px;
}
.small .edge-fg {
  stroke-width: 8px;
}
text {
  font-family: "SourceCodePro", "Source Code Pro", Helvetica, Arial, sans-serif;
  text-rendering: geometricPrecision;
/* makes text scale smoothly */
  font-size: 14px;
  fill: #000;
  text-anchor: middle;
  dominant-baseline: central;
}
.text-bg-rect {
  fill: rgba(255,255,255,0.5);
}
.node-label,
.node-sublabel {
  text-anchor: middle;
}
.small .node-label-bg {
  visibility: hidden;
}
.node-sublabel {
  font-size: 9px;
}
.node-sublabel-bg {
  visibility: hidden;
}
.big .node-sublabel-bg {
  visibility: visible;
}
.iip-path {
  stroke-width: 1px;
  stroke: #a0a5a9;
}
.iip-info {
  visibility: hidden;
}
.iip-info .text-bg-text {
  font-size: 5px;
  text-anchor: end;
}
.big .iip-info {
  visibility: visible;
}
.context-modal-bg {
  fill: rgba(0,0,0,0.5);
}
.context-node-rect {
  fill: #121417;
  stroke: #bfbfbf;
  stroke-width: 0.5px;
}
.context-node-icon {
  font-size: 30px;
  fill: #000;
}
.context-icon {
  font-size: 20px;
  fill: #000;
}
.context-node-label {
  text-anchor: middle;
}
.context-arc {
  stroke-width: 72px;
  stroke: rgba(43,48,54,0.95);
}
.context-slice.click:hover .context-arc {
  stroke: rgba(90,102,114,0.95);
}
.context-circle {
  stroke: #bfbfbf;
  fill: none;
  stroke-width: 1.5px;
}
.context-circle-x {
  stroke: #bfbfbf;
  fill: none;
  stroke-width: 1px;
}
.context-arc-icon-label {
  font-size: 12px;
}
.context-port-bg {
  fill: rgba(43,48,54,0.95);
}
.context-port-hole {
  stroke-width: 2px;
  fill: rgba(43,48,54,0.95);
  stroke: #bfbfbf;
}
.context-port-path {
  stroke: #bfbfbf;
}
.context-port-label {
  fill: #000;
  dominant-baseline: central;
}
.context-port-in .context-port-label {
  text-anchor: end;
}
.context-port-out .context-port-label {
  text-anchor: start;
}
.context-edge-label-out {
  text-anchor: end;
  dominant-baseline: central;
}
.context-edge-label-in {
  text-anchor: start;
  dominant-baseline: central;
}
.tooltip {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
}
.tooltip.hidden {
  opacity: 0;
}
.tooltip-bg {
  fill: rgba(0,0,0,0.9);
  opacity: 0.75;
}
.tooltip-label {
  text-anchor: start;
  font-size: 10px;
}
.icon {
  font-family: 'FontAwesomeSVG';
  text-anchor: middle;
  dominant-baseline: central;
}
.node-icon {
  font-size: 45px;
  fill: #3b4245;
  transition-property: font-size, fill;
  transition-duration: 0.5s, 0.3s;
}
.small .node-icon {
  fill: #171b1c;
  font-size: 66px;
}
.big .node-icon {
  fill: #c8ced0;
}
.ex-inports .node-icon,
.small .ex-inports .node-icon {
  fill: #ee7c0e;
}
.ex-outports .node-icon,
.small .ex-outports .node-icon {
  fill: #00782a;
}
.port-circle-bg {
  fill: #3b4245;
  opacity: 0;
}
.port-arc {
  fill: #3b4245;
}
.port-circle-small {
  fill: none;
}
.small .port-circle {
  visibility: hidden;
}
.port-label {
  fill: #f1f3f3;
  visibility: hidden;
  font-size: 6px;
  dominant-baseline: central;
}
.inports .port-label {
  text-anchor: start;
}
.outports .port-label {
  text-anchor: end;
}
.big .port-label {
  visibility: visible;
}
.big .ex-inports .port-label,
.big .ex-outports .port-label {
  visibility: hidden;
}
.group-box {
  fill: rgba(0,0,0,0);
  stroke: rgba(191,191,191,0.25);
  stroke-width: 8px;
  transition-property: fill;
  transition-duration: 0.3s;
}
.group-box:hover {
  fill: rgba(191,191,191,0.25);
}
.small .group-box {
  stroke-width: 8px;
}
.group-box.color0 {
  fill: rgba(0,0,0,0);
  stroke: rgba(191,191,191,0.25);
}
.group-box.color1 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,128,128,0.25);
}
.group-box.color2 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,202,128,0.25);
}
.group-box.color3 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,255,128,0.25);
}
.group-box.color4 {
  fill: rgba(0,0,0,0);
  stroke: rgba(128,255,159,0.25);
}
.group-box.color5 {
  fill: rgba(0,0,0,0);
  stroke: rgba(128,255,212,0.25);
}
.group-box.color6 {
  fill: rgba(0,0,0,0);
  stroke: rgba(128,244,255,0.25);
}
.group-box.color7 {
  fill: rgba(0,0,0,0);
  stroke: rgba(128,191,255,0.25);
}
.group-box.color8 {
  fill: rgba(0,0,0,0);
  stroke: rgba(223,128,255,0.25);
}
.group-box.color9 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,128,234,0.25);
}
.group-box.color10 {
  fill: rgba(0,0,0,0);
  stroke: rgba(255,128,181,0.25);
}
.group-box.color0:hover {
  fill: rgba(191,191,191,0.25);
}
.group-box.color1:hover {
  fill: rgba(255,128,128,0.25);
}
.group-box.color2:hover {
  fill: rgba(255,202,128,0.25);
}
.group-box.color3:hover {
  fill: rgba(255,255,128,0.25);
}
.group-box.color4:hover {
  fill: rgba(128,255,159,0.25);
}
.group-box.color5:hover {
  fill: rgba(128,255,212,0.25);
}
.group-box.color6:hover {
  fill: rgba(128,244,255,0.25);
}
.group-box.color7:hover {
  fill: rgba(128,191,255,0.25);
}
.group-box.color8:hover {
  fill: rgba(223,128,255,0.25);
}
.group-box.color9:hover {
  fill: rgba(255,128,234,0.25);
}
.group-box.color10:hover {
  fill: rgba(255,128,181,0.25);
}
.group-box.selection {
  fill: rgba(255,102,102,0.15);
  stroke: #f00;
  stroke-width: 1px;
}
.group-box.selection:hover {
  fill: rgba(255,102,102,0.25);
}
.group-label {
  text-anchor: start;
  fill: #000;
  font-size: 20px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.small .group-label {
  font-size: 30px;
  transition-property: font-size;
  transition-duration: 0.5s;
}
.group-description {
  fill: #000;
  font-size: 12px;
  text-anchor: start;
}
.small .group-description {
  visibility: hidden;
}
.stroke.route0 {
  stroke: #a0a5a9;
}
.stroke.route1 {
  stroke: #e32017;
}
.stroke.route2 {
  stroke: #ee7c0e;
}
.stroke.route3 {
  stroke: #ffd300;
}
.stroke.route4 {
  stroke: #00782a;
}
.stroke.route5 {
  stroke: #95cdba;
}
.stroke.route6 {
  stroke: #0098d4;
}
.stroke.route7 {
  stroke: #003688;
}
.stroke.route8 {
  stroke: #9b0056;
}
.stroke.route9 {
  stroke: #f3a9bb;
}
.stroke.route10 {
  stroke: #b36305;
}
.fill.route0 {
  fill: #a0a5a9;
}
.fill.route1 {
  fill: #e32017;
}
.fill.route2 {
  fill: #ee7c0e;
}
.fill.route3 {
  fill: #ffd300;
}
.fill.route4 {
  fill: #00782a;
}
.fill.route5 {
  fill: #95cdba;
}
.fill.route6 {
  fill: #0098d4;
}
.fill.route7 {
  fill: #003688;
}
.fill.route8 {
  fill: #9b0056;
}
.fill.route9 {
  fill: #f3a9bb;
}
.fill.route10 {
  fill: #b36305;
}
