the-graph-editor {
  font-family: 'Source Code Pro', verdana, sans-serif;
  
  margin: none;
  padding: none;
  color: white;

  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  /*
  -ms-touch-action: none;
  touch-action: none;
  */

  display: block;
  background-color: hsl(187, 50%, 7%);
  background-color: black;
  position: absolute;
  left: 0; top: 0;
  overflow: hidden;
}

the-graph-nav {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
the-graph-nav button {
  background-color: #2a2b31;
  color: white;
  border: none;
  font-size: 20px;
  padding: 0;
  width: 56px;
  height: 56px;
  opacity: 0.7;
}

the-library {
  display: none;
}

the-graph {
  color: white;

  position: absolute;
  width: 2000;
  height: 2000;
  top: 0;
  left: 0;

  -webkit-transform-origin: top left;
  -moz-transform-origin: top left;
  -ms-transform-origin: top left;
  -o-transform-origin: top left;
  transform-origin: top left;

  -webkit-transform: translate3d(-500px,-500px,0px) scale(1);
  -moz-transform: translate3d(-500px,-500px,0px) scale(1);
  -ms-transform: translate3d(-500px,-500px,0px) scale(1);
  -o-transform: translate3d(-500px,-500px,0px) scale(1);
  transform: translate3d(-500px,-500px,0px) scale(1);

  background-color: hsl(189, 47%, 6%);
  background-image:
    radial-gradient(circle 1px at 1px 1px, hsla(189, 11%, 26%, 0.8) 0px, hsla(189, 11%, 26%, 0.8) 1px, transparent 2px),
    linear-gradient(hsla(0, 100%, 14%, 0.8) 1%, transparent 1%),
    linear-gradient(90deg, hsla(0, 100%, 14%, 0.8) 1%, transparent 1%);
  background-size: 60px 60px, 180px 180px, 180px 180px;
  background-position: 500px 500px;
}

the-graph.tiny {

  background-image:
    radial-gradient(circle 0.5px at 0.5px 0.5px, rgb(71,71,71) 0px, rgb(71,71,71) 1px, transparent 2px),
    linear-gradient(hsla(0, 100%, 14%, 0.8) 1px, transparent 1px),
    linear-gradient(90deg, hsla(0, 100%, 14%, 0.8) 1px, transparent 1px);

}

.the-graph-node {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background-color: transparent;
  color: #000000;
  border-radius: 12px;
  border: 2px hsl(180, 11%, 32%) solid;
  cursor: move;
  /* transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin-left 0.3s ease-in-out, margin-top 0.3s ease-in-out; */
}
the-graph.big .the-graph-node {
}
the-graph.small .the-graph-node {
  border-radius: 6px;
  border-width: 1px;
}
the-graph.tiny .the-graph-node {
  border-radius: 5px;
  border-width: 1px;
}


.the-graph-node:before {
  content: '';
  background-color: hsla(184, 8%, 100%, 0.55);
  font-size: 30px;
  border-radius: 8px;
  position:absolute;
  z-index: -1;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  display: block;
}
the-graph.big .the-graph-node:before {
}
the-graph.small .the-graph-node:before {
  border-radius: 5px;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}
the-graph.tiny .the-graph-node:before {
  border-radius: 4px;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
}

the-graph-export .the-graph-node {
  border-color: hsla(145, 97%, 54%, 0.55);
}
the-graph-export .the-graph-node:before {
  background-color: transparent;
  border: 2px solid hsla(145, 97%, 54%, 0.55);
}
the-graph-export .the-graph-node .the-graph-node-icon {
  color: hsla(145, 97%, 54%, 0.55);
  font-size: 28px;
  margin-top: -13px;
  margin-left: -12px;
}
the-graph-export.import .the-graph-node {
  border-color: hsla(205, 97%, 54%, 0.55);
}
the-graph-export.import .the-graph-node:before {
  background-color: transparent;
  border: 2px solid hsla(205, 97%, 54%, 0.55);
}
the-graph-export.import .the-graph-node .the-graph-node-icon {
  color: hsla(205, 97%, 54%, 0.55);
}

.the-graph-node.selected {
  border-color: hsla(49, 97%, 33%, 1);
}
.the-graph-node.selected:before {
  background-color: hsla(49, 97%, 54%, 0.55);
}
.the-graph-node.selected .the-graph-node-icon {
  color: hsla(0, 0%, 100%, 0.25);
}

.the-graph-node.highlight {
  cursor: auto;
}

the-graph .the-graph-node.highlight:before {
  border-radius: 400px;
  background-color: hsla(184, 8%, 0%, 0.55);
}

.the-graph-node.highlight the-graph-inports the-graph-port, 
.the-graph-node.highlight the-graph-outports the-graph-port.south, 
.the-graph-node.highlight the-graph-outports the-graph-port.east {
  width: 16px;
  height: 16px;
  border: 2px solid black;
  border-radius: 11px;
  display: block;
}
.the-graph-node.highlight the-graph-port label {
  display: block;
  position: absolute;
  color: black;
  height: 16px;
  width: auto;
  background-color: inherit;
  border-radius: 3px;
  padding: 4px;
  font-size: 12px;
  z-index: -1;
  filter: grayscale(0.7) brightness(0.6);
  -webkit-filter: grayscale(0.7) brightness(0.6);
}
.the-graph-node.highlight the-graph-inports.highlight the-graph-port label,
.the-graph-node.highlight the-graph-outports.highlight the-graph-port label {
  filter: none;
  -webkit-filter: none;
}
.the-graph-node.highlight the-graph-port.selected label {
  background-color: magenta;
}

.the-graph-node.highlight the-graph-port.east label {
  top: -5px;
  left: -5px;
  padding-left: 28px;
  padding-top: 5px;
}
.the-graph-node.highlight the-graph-port.south label {
  left: -18px;
  top: 10px;
  padding-left: 28px;
  padding-top: 5px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}
.the-graph-node.highlight the-graph-port.west label {
  right: -5px;
  top: -5px;
  padding-right: 28px;
  padding-top: 5px;
}
.the-graph-node.highlight the-graph-port.north label {
  left: -14px;
  bottom: 5px;
  padding-right: 28px;
  padding-top: 4px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

.the-graph-node-icon {
  color: hsla(180, 11%, 32%, 0.25);
  position: absolute;
  overflow: hidden;
  top: 50%;
  margin-top: -15px;
  left: 50%;
  margin-left: -13px;
  font-size: 30px;
}
the-graph.big .the-graph-node-icon {
  font-size: 50px;
  margin-top: -24px;
  margin-left: -22px;
}
the-graph.small .the-graph-node-icon {
  font-size: 25px;
  margin-top: -12px;
  margin-left: -10px;
}
the-graph.tiny .the-graph-node-icon {
  font-size: 16px;
  margin-top: -7px;
  margin-left: -7px;
}
.highlight .the-graph-node-icon {
  color: hsla(180, 11%, 32%, 0.55);
  top: 20%;
  font-size: 20px;
  margin-top: -10px;
  margin-left: -8px;
}

.the-graph-node-label {
  position: absolute;
  bottom: -34px;
  left: 0px;
  text-align: center;
}
the-graph.big .the-graph-node-label {
  bottom: -45px;
}
the-graph.small .the-graph-node-label {
  bottom: -27px;
}
the-graph.tiny .the-graph-node-label {
  bottom: -12px;
  width: 50px;
  overflow: hidden;
}

.the-graph-node-title {
  display: inline;
  font-size: 12px;
  font-weight: 200;
  padding: 2px;
  margin: 0px;
  color: white;
  text-shadow: 0px 0px 3px hsl(189, 47%, 6%);
  text-shadow: 0px 0px 1px hsl(189, 47%, 6%), 0px 0px 4px hsl(189, 47%, 6%);
  border-radius: 3px;
}
the-graph.big .the-graph-node-title {
  font-size: 15px;
}
the-graph.small .the-graph-node-title {
  font-size: 10px;
}
the-graph.tiny .the-graph-node-title {
  font-size: 8px;
}

.the-graph-node-subtitle {
  display: block;
  font-size: 9px;
  margin: 0px;
  margin-top: 2px;
  padding: 0px;
  font-weight: lighter;
  text-transform: uppercase;
  color: hsl(189, 11%, 36%);
  text-shadow: 0px 0px 1px hsl(189, 47%, 6%), 0px 0px 4px hsl(189, 47%, 6%), 0px 0px 3px hsl(189, 47%, 6%);
  border-radius: 1px;
}
the-graph.big .the-graph-node-subtitle {
  font-size: 12px;
}
the-graph.small .the-graph-node-subtitle {
  font-size: 8px;
}
the-graph.tiny .the-graph-node-subtitle {
  display: none;
}

.highlight .the-graph-node-title {
  bottom: 20px;
  padding-left: 30%;
  background-color: transparent;
}
.highlight .the-graph-node-subtitle {
  bottom: 10px;
  padding-left: 30%;
}

the-graph-port {
  position: absolute;
  border: 1px solid #000000;
  background-color: hsla(147, 0%, 80%, 1);
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 3px;
  margin: 4px;
}
the-graph-outports the-graph-port.east {
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #f00;
  border-style: solid;
  border-width: 4px;
  background-color: transparent;
  margin-left: 5px;
}

the-graph-outports the-graph-port.east:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -4px;
  margin-top: -5px;
  border-color: transparent transparent transparent black;
  border-style: solid;
  border-width: 5px;
  opacity: 0.6;
  background-color: transparent;
  z-index: -1;
}
the-graph-outports the-graph-port.south {

  width: 0;
  height: 0;
  border-color: #f00 transparent transparent transparent;
  border-style: solid;
  border-width: 4px;
  background-color: transparent;
  margin-top: 7px;
}
the-graph-outports the-graph-port.south:before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -5px;
  margin-top: -4px;
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 5px;
  opacity: 0.6;
  background-color: transparent;
  z-index: -1;
}

the-graph-port label {
  display: none;
}

path.edge {
  fill: none;
  stroke-linejoin: round;
  stroke: #66FF00;
  stroke-width: 1.5px;
}

path.selected {
  stroke: #b5cf44;
  stroke-opacity: 0.1;
}

path.edge.route0  { stroke: #fff; }
the-graph-inports the-graph-port.route0  { background-color: #fff; }
.the-graph-node.highlight the-graph-outports the-graph-port.route0  { background-color: #fff; }
the-graph-outports the-graph-port.east.route0 { border-left-color: #fff; }
the-graph-outports the-graph-port.south.route0 { border-top-color: #fff; }
path.edge.route1  { stroke: hsl(  0, 100%, 60%); }
the-graph-inports the-graph-port.route1  { background-color: hsl(  0, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route1  { background-color: hsl(  0, 100%, 60%); }
the-graph-outports the-graph-port.east.route1  { border-left-color: hsl(  0, 100%, 60%); }
the-graph-outports the-graph-port.south.route1  { border-top-color: hsl(  0, 100%, 60%); }
path.edge.route2  { stroke: hsl( 30, 100%, 60%); }
the-graph-inports the-graph-port.route2  { background-color: hsl( 30, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route2  { background-color: hsl(30, 100%, 60%); }
the-graph-outports the-graph-port.east.route2  { border-left-color: hsl(30, 100%, 60%); }
the-graph-outports the-graph-port.south.route2  { border-top-color: hsl(30, 100%, 60%); }
path.edge.route3  { stroke: hsl( 60, 100%, 60%); }
the-graph-inports the-graph-port.route3  { background-color: hsl( 60, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route3  { background-color: hsl(60, 100%, 60%); }
the-graph-outports the-graph-port.east.route3  { border-left-color: hsl(60, 100%, 60%); }
the-graph-outports the-graph-port.south.route3  { border-top-color: hsl(60, 100%, 60%); }
path.edge.route4  { stroke: hsl( 90, 100%, 60%); }
the-graph-inports the-graph-port.route4  { background-color: hsl( 90, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route4  { background-color: hsl(90, 100%, 60%); }
the-graph-outports the-graph-port.east.route4  { border-left-color: hsl(90, 100%, 60%); }
the-graph-outports the-graph-port.south.route4  { border-top-color: hsl(90, 100%, 60%); }
path.edge.route5  { stroke: hsl(120, 100%, 60%); }
the-graph-inports the-graph-port.route5  { background-color: hsl(120, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route5  { background-color: hsl(120, 100%, 60%); }
the-graph-outports the-graph-port.east.route5  { border-left-color: hsl(120, 100%, 60%); }
the-graph-outports the-graph-port.south.route5  { border-top-color: hsl(120, 100%, 60%); }
path.edge.route6  { stroke: hsl(150, 100%, 60%); }
the-graph-inports the-graph-port.route6  { background-color: hsl(150, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route6  { background-color: hsl(150, 100%, 60%); }
the-graph-outports the-graph-port.east.route6  { border-left-color: hsl(150, 100%, 60%); }
the-graph-outports the-graph-port.south.route6  { border-top-color: hsl(150, 100%, 60%); }
path.edge.route7  { stroke: hsl(180, 100%, 60%); }
the-graph-inports the-graph-port.route7  { background-color: hsl(180, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route7  { background-color: hsl(180, 100%, 60%); }
the-graph-outports the-graph-port.east.route7  { border-left-color: hsl(180, 100%, 60%); }
the-graph-outports the-graph-port.south.route7  { border-top-color: hsl(180, 100%, 60%); }
path.edge.route8  { stroke: hsl(210, 100%, 60%); }
the-graph-inports the-graph-port.route8  { background-color: hsl(210, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route8  { background-color: hsl(210, 100%, 60%); }
the-graph-outports the-graph-port.east.route8  { border-left-color: hsl(210, 100%, 60%); }
the-graph-outports the-graph-port.south.route8  { border-top-color: hsl(210, 100%, 60%); }
path.edge.route9  { stroke: hsl(240, 100%, 60%); }
the-graph-inports the-graph-port.route9  { background-color: hsl(240, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route9  { background-color: hsl(240, 100%, 60%); }
the-graph-outports the-graph-port.east.route9  { border-left-color: hsl(240, 100%, 60%); }
the-graph-outports the-graph-port.south.route9  { border-top-color: hsl(240, 100%, 60%); }
path.edge.route10 { stroke: hsl(270, 100%, 60%); }
the-graph-inports the-graph-port.route10 { background-color: hsl(270, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route10  { background-color: hsl(270, 100%, 60%); }
the-graph-outports the-graph-port.east.route10  { border-left-color: hsl(270, 100%, 60%); }
the-graph-outports the-graph-port.south.route10  { border-top-color: hsl(270, 100%, 60%); }
path.edge.route11 { stroke: hsl(300, 100%, 60%); }
the-graph-inports the-graph-port.route11 { background-color: hsl(300, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route11  { background-color: hsl(300, 100%, 60%); }
the-graph-outports the-graph-port.east.route11  { border-left-color: hsl(300, 100%, 60%); }
the-graph-outports the-graph-port.south.route11  { border-top-color: hsl(300, 100%, 60%); }
path.edge.route12 { stroke: hsl(330, 100%, 60%); }
the-graph-inports the-graph-port.route12 { background-color: hsl(330, 100%, 60%); }
.the-graph-node.highlight the-graph-outports the-graph-port.route12  { background-color: hsl(330, 100%, 60%); }
the-graph-outports the-graph-port.east.route12  { border-left-color: hsl(330, 100%, 60%); }
the-graph-outports the-graph-port.south.route12  { border-top-color: hsl(330, 100%, 60%); }
