body {
  margin: none;
  padding: none;
  font-family: verdana;
  color: white;
  background-color: black;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

the-graph-editor {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #2a2b31;
}

the-graph-process {
  z-index: 10;
}

the-graph {
  color: white;

  position: absolute;
  left: 0; top: 0; right: 0; bottom: 0;

  overflow: hidden;

  background-color: #1d1d1d;

  background-image:
    -moz-linear-gradient(left, #2c2c2c 1px, transparent 1px),
    -moz-linear-gradient(top, #2c2c2c 1px, transparent 1px);
  background-image:
    -webkit-linear-gradient(left, #2c2c2c 1px, transparent 1px),
    -webkit-linear-gradient(top, #2c2c2c 1px, transparent 1px);
  background-image:
    linear-gradient(left, #2c2c2c 1px, transparent 1px),
    linear-gradient(top, #2c2c2c 1px, transparent 1px);
  background-size: 70px 70px;
}

the-graph-process, the-graph-subgraph {
  display: block;
  width: 58px;
  height: 58px;
  background-color: rgba(0,0,0, 0.5);
  color: #000000;
  border-radius: 3px;
  border: 1px magenta solid;
}

the-graph-process h1, the-graph-subgraph h1 {
  font-size: 12px;
  text-align: center;
  margin-top: -20px;
  margin-left: -40px;
  width: 140px;
  color: white;
  font-weight: lighter;
  overflow: ellipsis;
}

path.edge {
  fill: none;
  stroke-linejoin: round;
  stroke: #66FF00;
  stroke-width: 1.1px;
}

